.mainWrap{
  background-color: #f1f1f1;
  }
.mainContainer{
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 1px 8px 5px #b9b8b8;
}
.bodyCard{
  border: 0;
  box-shadow: 2px 1px 8px 5px #eeeded;
  margin: 10px 0;
  border: 1px solid #f1f1f1;
}
.Card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  border: none;
  border: 0!important;
}
.heightFul{
  height: 100%;
}

.imgWidth{
 height: 265px;
 width: 100%;
 object-fit: cover;
}
/* Top Stories Section */
ul {
  padding-left: 20px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
  font-size: 0.95rem;
}

/* Market Section */
.text-success {
  color: #28a745;
}


/* Responsive */
@media (max-width: 768px) {
  .card img {
    height: 180px;
  }
}

@media (max-width: 576px) {
  .card img {
    height: 150px;
  }
  .card-title {
    font-size: 1rem;
  }
} 
.mainImage{
  height: 350px;
  width: 100%;
  object-fit: cover;
}
.newsLink{
  text-decoration: none;
  color: #333;
  display: block;
}